<section class="bg-primary" id="youtube">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Pod&eacute;s ver todos nuestros eventos en youtube</h2>
                <hr class="light">
                <p class="text-faded">Puedes ver muchos de los eventos que hemos organizado en nuestro canal de Youtube,
                    ¡ahí también publicamos nuestros directos! No dudes en suscribirte y dejarnos tus comentarios.</p>
                <p><img src="../img/logo-inverse.png" width="512" class="img-responsive" alt=""/></p>
                <br />
                <a href="https://www.youtube.com/channel/UC2OA1JzZ_aD-u2SuE3GKxQA" class="btn btn-default btn-xl">¡Visitar
                    el canal!</a>
            </div>
        </div>
    </div>
</section>
