<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../img/logo-small-inverse.png" width="256"/>
            <h1>She rocks, he rocks, you rock...</h1>
            <h1>we rock<span style="color: #00C771; ">n</span>droid</h1>
            <hr>
            <p>Tu espacio para crecer como desarrollador Android en espa&ntilde;ol.</p>
            <a href="https://www.meetup.com/barcelona-android-dev-group/" class="btn btn-primary btn-xl page-scroll">Barcelona</a>
            <a href="https://www.meetup.com/rockndroidmad/" class="btn btn-primary btn-xl page-scroll">Madrid</a>
            <a href="https://www.meetup.com/rockndroidvig/" class="btn btn-primary btn-xl page-scroll">Vigo</a>
        </div>
    </div>
</header>
