<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="../img/logo-small-inverse.png" width="256"/>
            <h1>You rock. She rocks. He rocks.</h1>
            <h1>WE ROCK 'N' DROID</h1>
            <hr>
            <p>Tu espacio para crecer como desarrollador Android en espa&ntilde;ol.</p>
            <a href="https://www.meetup.com/madrid-android-dev-group/" class="btn btn-primary btn-xl page-scroll">Barcelona</a>
            <a href="https://www.meetup.com/madrid-android-dev-group/" class="btn btn-primary btn-xl page-scroll">Madrid</a>
            <a href="https://www.meetup.com/madrid-android-dev-group/" class="btn btn-primary btn-xl page-scroll">Vigo</a>
        </div>
    </div>
</header>
