<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>I rock, you rock, she/he rocks. We rock 'n' droid.</h1>
            <hr>
            <p>Tu espacio para crecer como desarrollador Android en espa&ntilde;ol.</p>
            <a href="https://www.meetup.com/madrid-android-dev-group/" class="btn btn-primary btn-xl page-scroll">Barcelona</a>
            <a href="https://www.meetup.com/madrid-android-dev-group/" class="btn btn-primary btn-xl page-scroll">Madrid</a>
            <a href="https://www.meetup.com/madrid-android-dev-group/" class="btn btn-primary btn-xl page-scroll">Vigo</a>
        </div>
    </div>
</header>
